{% set active_page = 'alerts' %}
{% extends "sidebars.html" %}

{% block body %}
<div class="container px-4 py-4">
    <h2 class="pb-2 border-bottom">Alerts</h2>
configure your alerts triggers here:
</div>
{% endblock %}