{% set active_page = 'dashboard' %}
{% extends "sidebars.html" %}

{% block body %}
<div class="container px-4 py-4">
    <h2 class="pb-2 border-bottom">Dashboard</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">IP</th>
      <th scope="col">Hashrate</th>
      <th scope="col">Fans (avg)</th>
      <th scope="col">Temps (avg)</th>
      <th scope="col">Power</th>
      <th scope="col">Subsidy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="http://{{ info['miner_ip'] }}" >{{ info["miner_ip"] }}</a></th>
      <td>{{ info["miner_hashrate_th"] }} TH/s</td>
      <td>{{ info["miner_fan_avg"] }} %</td>
      <td>{{ info["miner_temp_avg"] }} C</td>
      <td>{{ info["miner_power"] }} W</td>
      <td>{{ info["subsidy"] }} %</td>
    </tr>
  </tbody>
</table>
Display:
<img src="{{ url_for('static', filename= 'img/display.png') }}"/>
</div>
{% endblock %}