{% set active_page = 'miner' %}
{% extends "sidebars.html" %}

{% block body %}
<div class="container px-4 py-4">
    <h2 class="pb-2 border-bottom">Miner</h2>

    <table class="table">
    <thead>
        <tr>
        <th scope="col">IP</th>
        <th scope="col">Hashrate</th>
        <th scope="col">Fans (avg)</th>
        <th scope="col">Temps (avg)</th>
        <th scope="col">Power</th>
        <th scope="col">Subsidy</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row"><a href="http://{{ info['miner_ip'] }}" >{{ info["miner_ip"] }}</a></th>
        <td>{{ info["miner_hashrate_th"] }} TH/s</td>
        <td>{{ info["miner_fan_avg"] }} %</td>
        <td>{{ info["miner_temp_avg"] }} C</td>
        <td>{{ info["miner_power"] }} W</td>
        <td>{{ info["subsidy"] }} %</td>
        </tr>
    </tbody>
    </table>

    <div class="container col-md-6">
        <form action="/miner" method="post">
            Pool settings:
            <div class="input-group mb-3">
                <span class="input-group-text" id="adress">Pool address</span>
                <input type="text" class="form-control" name="miner_pool" value="{{ info['miner_pool'] }}" aria-label="address" aria-describedby="adress">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="username">Pool username</span>
                <input type="text" class="form-control" name="miner_username" value="{{ info['miner_username'] }}" aria-label="Username" aria-describedby="username">
            </div>
            Power settings:
            <div class="input-group mb-3">
                <span class="input-group-text" id="powerlimit">Power Limit (W)</span>
                <input type="text" class="form-control" name="miner_power_limit" value="{{ info['miner_power_limit'] }}" aria-label="900w" aria-describedby="powerlimit">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="powerstep">Power step (W)</span>
                <input type="text" class="form-control" name="miner_power_step" value="{{ info['miner_power_step'] }}" aria-label="100w" aria-describedby="powerstep">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="powerstep">Fan speed (%)</span>
                <input type="text" class="form-control" name="miner_fan_speed" value="{{ info['miner_fan_speed'] }}" aria-label="miner_fan_speed" aria-describedby="miner_fan_speed">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
    </div>

</div>
{% endblock %}