{% set active_page = 'temperature' %}
{% extends "sidebars.html" %}

{% block body %}
<div class="container px-4 py-4">
    <h2 class="pb-2 border-bottom">Temperature</h2>

    <table class="table">
    <thead>
        <tr>
        <th scope="col">Temp Set</th>
        <th scope="col">Temp In</th>
        <th scope="col">Temp Miner (avg)</th>
        <th scope="col">Temp Out</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">{{ info["temp_set"] }} C</th>
        <td>{{ info["temp_in"] }} C</td>
        <td>{{ info["miner_temp_avg"] }} C</td>
        <td>{{ info["temp_out"] }} C</td>
        </tr>
    </tbody>
    </table>

    <div class="container col-md-6">
        <form action="/temperature" method="post">
            Temperature settings:
            <div class="input-group mb-3">
                <span class="input-group-text" id="temp_label">Set Temperature (C)</span>
                <input type="text" class="form-control" name="temp_set" value="{{ info['temp_set'] }}" aria-label="{{ info['temp_set'] }}" aria-describedby="temp_label">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="temp_var_label">Temperature variation (C)</span>
                <input type="text" class="form-control" name="temp_variation" value="{{ info['temp_variation'] }}" aria-label="{{ info['temp_variation'] }}" aria-describedby="temp_var_label">
            </div>
            IoT settings:
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="True" name="enable_homekit" {% if info['enable_homekit'] == "True" %} checked {% endif %} >
                <label class="form-check-label" for="flexCheckDefault">
                  Enable HomeKit
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="True" name="enable_mqtt" {% if info['enable_mqtt'] == "True" %} checked {% endif %}>
                <label class="form-check-label" for="flexCheckDefault">
                  Enable MQTT
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
    </div>
</div>
{% endblock %}